h2.st1 {
    color: blue;
    text-decoration: line-through;
    background-color: aqua;
}

.st2 {
    color: red;
    text-transform: uppercase;
    text-decoration: overline;
}

.col1 {
    color: orange;
}

.col2 {
    color: yellowgreen
}

.size {
    font-size: 2em;
}

.text {
    text-decoration: underline;
}

.text2 {
    text-transform: full-width;
}